.about-page {
    padding: 3vh 0 5vh;
    .flex(row, space-around, flex-start);
    flex-wrap: wrap;
    
    .how-it-works {
        width: 100%;
        padding-bottom: 3vh;
        
        h2 {
            padding-bottom: 1.5vh
        }

        p {
            line-height: 2rem;
        }
    }

    .about-info {
        .flex(column, flex-start, flex-start);
        width: 40%;
        border: 1px solid @main-color;
        border-radius: 5px;
        padding: 20px;
        background-color: @sub-color;
    }
}