header {    
    .about-banner {
        @media @phone {
            display: none;
        }
    }
}

.about-page {
    padding: 3vh 0 5vh;    

    @media @phone {
        padding: 0 0 5vh;
    }    
    
    .about-us {
        width: 100%;
        padding: 0 0 3vh;
        
        h2 {
            padding-bottom: 1.5vh
        }

        p {
            line-height: 2rem;
        }

        @media @phone {
            width: 90%;
            margin: 0 auto;
            padding: 1vh 0 3vh;
        }
    }

    .boxes {
        .flex(row, space-between, flex-start);
        flex-wrap: wrap;
        padding-top: 3vh;
    }

    .about-info {
        .flex(row, space-between, flex-start);
        width: 48%;
        border: 1px solid @main-color;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 3vh;
        background-color: white;

        // @media @small-desktop {
        //     width: 90%;            
        // }

        @media @tablet{
            width: 90%;
            flex-wrap: wrap;
            margin: 0 auto 3vh;
        }

        p {
            line-height: 2rem;
            padding-top: 2vh;
        }

        .description {
            width: 55%;

            @media @tablet{
                width: 100%;
            }

            h3 {
                @media @tablet {
                    font-size: 2rem;            
                }
            }  
        }
        
        .profile {
            width: 40%;
            .flex(column, flex-start, flex-start);

            @media @tablet{
                width: 100%;
                padding-top: 2vh;
                flex-direction: row;
            }

            @media @small-tablet{
                flex-direction: column;
            }

            img {
                width: 300px;
            }

            .contact-links{
                h4 {
                    padding: 2vh 0 0;

                    @media @tablet {
                        padding: 0;
                    }

                    @media @small-tablet {
                        padding: 2vh 0 0;
                    }
                }

                i {
                    margin-right: 5px;
                }

                @media @tablet{
                    padding-left: 30px;
                }
            }
        }
    }
}