header {    
    .about-banner {
        @media @phone {
            display: none;
        }
    }
} // header

.about-page {
    padding: 3vh 30px 10vh;    

    @media @phone {
        padding: 0 0 13vh;
    }    
    
    .about-us {
        width: 100%;
        padding: 0 0 3vh;
        
        h2 {
            padding-bottom: 1.5vh
        }

        p {
            line-height: 2rem;
        }

        @media @phone {
            width: 90%;
            margin: 0 auto;
            padding: 1vh 0 3vh;
        }
    } // about us desc

    .boxes {
        .flex(row, space-between, stretch);
        padding-top: 1vh;
    } // box container

    .about-info {
        .flex(column, flex-start, center);
        width: 30%;
        border: 1px solid @sub-color;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 3vh;
        background-color: white;        

        @media @small-desktop {
            width: 45%;            
        }

        @media @small-tablet{
            width: 90%;
            margin: 0 auto 3vh;
        }

        p {
            line-height: 2rem;
            padding-top: 2vh;
        }

        .description {
            text-align: center;
            padding-bottom: 1.5vh;

            @media @tablet{
                width: 100%;
            }

            h3 {
                padding-bottom: 1vh;

                @media @tablet {
                    font-size: 2rem;            
                }
            }  // name
        } // name and title
        
        .profile {
            .flex();

            img {
                width: 500px;
                max-width: 100%;
                border-radius: 5px;
            }

            .contact-links{
                i {
                    margin-right: 5px;
                } // social icons
            } // contact links
        } // profile image and links
    } // profile containers
} // about page content