header {    
    .cta {
        .flex(column, center, flex-start);
        height: 500px;
        width: 100%;
        background-image: url("../img/cta.jpg");
        background-position: center;
        padding: 5%;

        @media @tablet {
            .flex();            
        }

        @media @phone {
            height: 300px;
            background-image: none;
            background-color: @main-color;
        }        

        h1, h2 {
            margin-bottom: 15px;
            color: @sub-color;
            text-transform: lowercase;
            text-shadow: 2px 2px @main-color;
        }

        h1 {
            @media @small-phone {
                font-size: 7rem;
            }
        }

        button {
            border: none;
            color: @sub-color;
            background-color: @main-color;            
            padding: 1rem;
            border-radius: 5px;
            width: 20rem;
            font-size: 1.8rem;

            @media @phone {
                color: @main-color;
                background-color: @sub-color;
            }

            &:hover {
                color: @main-color;
                background-color: @sub-color;
                cursor: pointer;

                @media @phone {
                    color: @sub-color;
                    background-color: @main-color;
                }
            }
        } // button
    } // cta
} // header

.home-page {
    .flex(row, space-around, flex-start);
    padding: 3vh 0 5vh;

    @media @tablet {
        .flex(column, center, flex-start);
    }

    @media @phone {
        width: 90%;
        margin: 0 auto;
    }

    .about {
        width: 45%;

        @media @tablet {
            width: 100%;
        }
        
        p {
            padding-top: 1.5vh;
            line-height: 2.5rem;
        }
    } // about

    .features {
        width: 45%;     
        
        @media @tablet {
            width: 100%;
            padding-top: 2vh;
        }
    } // features
} // home page content