header {    
    .cta {
        .flex(column, center, flex-start);
        height: 500px;
        width: 100%;
        background-image: url("../img/cta.png");
        background-position: right center;
        padding: 5%;

        @media @phone {
            height: 300px;
        }

        @media @tablet {
            .flex();
            background-image: none;
            background-color: @main-color;
        }

        h1, h2 {
            margin-bottom: 15px;
            color: @sub-color;
            text-transform: lowercase;
        }

        button {
            border: none;
            background-color: @sub-color;
            padding: 1rem;
            border-radius: 5px;
            width: 20rem;
            font-size: 1.8rem;

            &:hover {
                color: @sub-color;
                background-color: @main-color;
            }
        }
    }
}

.home-page {
    .flex(row, space-between, flex-start);
    padding: 3vh 0 5vh;

    @media @tablet {
        .flex(column, center, flex-start);
    }

    .about {
        width: 48%;

        @media @tablet {
            width: 100%;
        }
        
        p {
            padding-top: 1.5vh;
            line-height: 2.5rem;
        }
    }

    .features {
        width: 48%;     
        
        @media @tablet {
            width: 100%;
            padding-top: 2vh;
        }
    }
}