@main-color: #14684E;
@sub-color: #CCFFCC;
@text-color: black;

@tablet: ~"(max-width: 800px)";
@small-tablet: ~"(max-width: 650px)";
@phone: ~"(max-width: 450px)";
@small-phone: ~"(max-width: 350px)";