@main-color: #14684E;
@sub-color: #d3e8d0;
@text-color: #0c1d09;

@small-desktop: ~"(max-width: 1200px)";
@tablet: ~"(max-width: 800px)";
@small-tablet: ~"(max-width: 600px)";
@phone: ~"(max-width: 450px)";
@small-phone: ~"(max-width: 350px)";